streamlit
langchain
langchain-openai
langchain-google-genai
langchain-groq
langchain-tavily
tavily
langchain-community
langchain-core
langgraph
python-dotenv
pandas
pypdf
faiss-cpu
structlog
fastapi
pytest
langchain-unstructured
PyMuPDF
fitz
PyPDF2
frontend
tools
chardet
charset_normalizer
pandas
langchain_chroma
chromadb
uvicorn
supabase
plotly
numpy
yfinance
dataclasses
asyncio-extras
typing-extensions
